<%- include('partials/header', { pageTitle: "Page Not Found!" }) %>

  <main>
    <h1>Page not found!</h1>
    <p>The page you are looking for is not available.</p>
  </main>

<%- include('partials/footer') %>