<%- include('partials/header', {pageTitle: 'About'}) %>
<main>
    <h1><%= title %></h1>
    <p>This is some about us</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, laborum?</p>
</main>
<%- include('partials/footer') %>